@import "tailwindcss";

@theme {
  --color-background: var(--color-smoky-black);
  --color-foreground: var(--color-light-gray);

  --color-smoky-black: hsl(0, 0%, 7%);
  --color-eerie-black-1: hsl(240, 2%, 13%);
  --color-eerie-black-2: hsl(240, 2%, 12%);
  --color-jet: hsl(0, 0%, 22%);
  --color-onyx: hsl(240, 1%, 17%);
  --color-orange-yellow: hsl(45, 100%, 72%);
  --color-vegas-gold: hsl(45, 54%, 58%);
  --color-light-gray: hsl(0, 0%, 84%);
  --color-light-gray-70: hsla(0, 0%, 84%, 0.7);
  --color-white-1: hsl(0, 0%, 100%);
  --color-white-2: hsl(0, 0%, 98%);
}

@layer base {
  body {
    background-color: var(--color-smoky-black);
    color: var(--color-light-gray);
    @apply font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-white-1);
    @apply font-medium;
  }
}

@layer utilities {
  .font-playfair {
    font-family: var(--font-playfair);
  }
}